<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets async="true">
    <target name="file_SharedLib_BMDDeckLink" xsi:type="File"
        fileName="${basedir}/log/SharedLib/BMDDeckLink/log-BMDDeckLink.log"
        archiveFileName="${basedir}/log/SharedLib/BMDDeckLink/log-BMDDeckLink.{#}.log"
        archiveEvery="Hour"
        archiveNumbering="Rolling"
        maxArchiveFiles="12"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="UTF-8" />

    <target name="file_SharedLib_Firewall" xsi:type="File"
        fileName="${basedir}/log/SharedLib/Firewall/log-Firewall.log"
        archiveFileName="${basedir}/log/SharedLib/Firewall/log-Firewall.{#}.log"
        archiveEvery="Hour"
        archiveNumbering="Rolling"
        maxArchiveFiles="12"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="UTF-8" />

    <target name="file_SharedLib_LibBLOB" xsi:type="File"
        fileName="${basedir}/log/SharedLib/LibBLOB/log-LibBLOB.log"
        archiveFileName="${basedir}/log/SharedLib/LibBLOB/log-LibBLOB.{#}.log"
        archiveEvery="Hour"
        archiveNumbering="Rolling"
        maxArchiveFiles="12"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="UTF-8" />

    <target name="file_SharedLib_RawModel" xsi:type="File"
        fileName="${basedir}/log/SharedLib/RawModel/log-RawModel.log"
        archiveFileName="${basedir}/log/SharedLib/RawModel/log-RawModel.{#}.log"
        archiveEvery="Hour"
        archiveNumbering="Rolling"
        maxArchiveFiles="12"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="UTF-8" />

    <target name="file_SharedLib_Uncate" xsi:type="File"
        fileName="${basedir}/log/SharedLib/Uncate/log-SharedLib-Uncate.log"
        archiveFileName="${basedir}/log/SharedLib/Uncate/log-SharedLib-Uncate.{#}.log"
        archiveEvery="Hour"
        archiveNumbering="Rolling"
        maxArchiveFiles="12"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="UTF-8" />
  </targets>

  <rules>
    <logger name="TVU.SharedLib.BMDDeckLink.*" minlevel="Info" writeTo="file_SharedLib_BMDDeckLink" final="true" />
    <logger name="TVU.SharedLib.Firewall.*" minlevel="Info" writeTo="file_SharedLib_Firewall" final="true" />
    <logger name="TVU.SharedLib.LibBLOB.*" minlevel="Info" writeTo="file_SharedLib_LibBLOB" final="true" />
    <logger name="TVU.SharedLib.Worker.RawModel.*" minlevel="Info" writeTo="file_SharedLib_RawModel" final="true" />

    <logger name="TVU.SharedLib.*" minlevel="Info" writeTo="file_SharedLib_Uncate" final="true" />
  </rules>
</nlog>
